.background {
    position: absolute;
    background-image: url('../../Utils/image/backgrown.jpg');
    width: 100%;
    height: 100%;
    background-size: cover;
    z-index: -1; /* Poner el fondo detrás de otros elementos */
  }

.Detail {
    position: absolute;
    left: 10%;
    top: 15%;
    background-color: rgba(140, 153, 165, 0.404);
    display: flex;
    flex-direction: column; /* Alineación vertical */
    justify-content: center; /* Centrar verticalmente */
    align-items: center; /* Centrar horizontalmente */
    text-align: center; /* Alinear el texto */
    width: 100rem;
    min-height: 40rem;
    height: relative;
    border-radius: 1rem;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.788), 0 0 5px rgba(253, 255, 253, 0.788);
}

  
  .Detail img {
    position: absolute;
    left: 2%;
    top: 15%;
    width: 45rem;
    border-radius: 4rem;
    border: 1px solid black;
  }

  .title{
    position: absolute;
    font-family: 'Black Ops One', sans-serif;
    color: gold;
    top: 2%;
  }

  .information{
    position: absolute;
    left: 60%;
    background-color: rgba(70, 69, 69, 0.521);
    width: relative ;
    border: 1rem groove rgba(56, 54, 54, 0.507);
    top: 15%;
    color: white;
    font-size: 1.2rem;
    height: relative;
  }

  .buttons {
    display: flex;
    justify-content: center;
 /* Ajusta la altura del contenedor según tus necesidades */
  }

  .buttons button {
    position: absolute;
    bottom: 5%;
    background-color: green;
    border: none;
    border-radius: 2rem;
    width: 20rem;
    height: 5rem;
    font-size: 2rem;
    transition: transform 0.2s; /* Agrega transición para un cambio suave */
  }
  
  .buttons button:hover {
    background-color: gold;
    transform: scale(1.05); /* Aplica un aumento en el tamaño */
    animation: pulse 1s infinite; /* Inicia la animación de palpitar */
  }
  
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }

  .boho{
    color: white;
    width: 100%;
    align-self: start;
    align-content: center;
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: flex-start; /* Alinear en la parte superior */
    font-size: 1.5rem;
  }

