/* Estilos para el componente Detail */

.background {
  position: relative; /* Cambiado de absolute a relative */
  background-color: black;
  width: 100%;
  height: 100vh; /* Usando viewport height para hacerlo más adaptable */
  background-size: cover;
  z-index: -1;
}

.Detail {
  position: relative;
  margin-left: 10%;
  margin-top: 5%; /* Cambiado de 15% */
  background-color: rgba(140, 153, 165, 0.404);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 90%; /* Cambiado de 100rem */
  min-height: 40rem;
  border-radius: 1rem;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.788), 0 0 5px rgba(253, 255, 253, 0.788);
}

.Detail img {
  position: relative; /* Cambiado de absolute a relative */
  width: 100%; /* Cambiado de 45rem */
  max-width: 20rem; /* Agregado max-width para que no se desborde en pantallas pequeñas */
  border-radius: 4rem;
  border: 1px solid black;
}

.title {
  position: relative; /* Cambiado de absolute a relative */
  font-family: 'Black Ops One', sans-serif;
  color: gold;
  margin-top: 2%; /* Cambiado de top */
}

.information {
  position: relative; /* Cambiado de absolute a relative */
  background-color: rgba(70, 69, 69, 0.521);
  /* Resto de las propiedades... */
}

.buttons {
  display: flex;
  justify-content: center;
  margin-top: 2%; /* Cambiado de bottom a margin-top */
}

.buttons button {
  background-color: green;
  border: none;
  border-radius: 2rem;
  width: 100%; /* Cambiado de 20rem */
  max-width: 20rem; /* Agregado max-width para que no se desborde en pantallas pequeñas */
  height: 5rem;
  font-size: 2rem;
  transition: transform 0.2s;
}

.buttons button:hover {
  background-color: gold;
  transform: scale(1.05);
  animation: pulse 1s infinite;
}

.boho {
  color: white;
  width: 100%;
  font-size: 1.5rem;
  text-align: center; /* Centrar horizontalmente */
  margin-top: 2%; /* Agregado margin-top */
}


