.Nav{
   background-color: rgba(88, 88, 88, 0.425);
   color: white;
   width: 100%;
   justify-content: space-between;
   height: 5%;
   display: flex;
}

.button{
    background-color: rgba(240, 248, 255, 0.411);
    width: 15rem;
    border-top-right-radius: 19rem;
    display: flex;
    justify-content: flex-start;
}

.button button {
    background-color: rgba(83, 83, 83, 0.411);
    border: 0;
    height: 1.5rem;
    margin-left: 0.1rem;
    margin-right: 0;
    width: 4rem;
    border-radius: 0.5rem;
  }