.footer {
    background-color: #f2f2f2;
    padding: 20px;
}

.footerContent {
    display: flex;
    justify-content: space-between;
}

.footerSection {
    flex: 1;
}

h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #BC4C2A;
    font-family: 'Linotype Didot Pro';
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul li {
    margin-bottom: 10px;
}

ul li a {
    text-decoration: none;
    color: #333333;
}

.socialIcons {
    display: flex;
    flex-direction: column;
}

.socialIcons li {
    margin-bottom: 10px;
}

.footerBottom {
    text-align: center;
    margin-top: 20px;
}