.btn{
    background-color: rgba(25, 119, 201, 0.411);
    width: relative;
    border-top-right-radius: 19rem;
    border-top-left-radius: 19rem;
    padding: 0.5rem; /* Agregado: Espacio interior */
}