/* card.module.css */

.container {
    display: flex;
}

.eventsList {
    flex: 1;
    padding: 20px;
}

.graphContainer {
    padding: 20px;
    margin-left: 20px; /* Ajusta el margen izquierdo para separar el gráfico */
    /* Elimina flex: 1 y ajusta el ancho del contenedor */
    width: 400px; /* Ajusta el ancho del contenedor del gráfico */
    display: flex;
    justify-content: flex-end; /* Alinea el contenido a la derecha */
    align-items: center; /* Centra verticalmente el contenido */
}

/* Estilos para el gráfico en SalesChart */
.sales-chart {
    max-width: 100%; /* Ajusta el ancho del gráfico para que ocupe todo el contenedor */
    margin: 0; /* Elimina el margen para que el gráfico esté más cerca del borde */
}
