.rotatingBar {
    width: 100%;
    height: 0.2rem;
    background-image: linear-gradient(to right, #00f, #0f0, rgb(255, 0, 255), #0ff, #ff0, #00f);
    background-size: 600% 100%; /* 6 colores en total */
    animation: rotateColors 10s linear infinite;
  }
  
  @keyframes rotateColors {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 100% 0;
    }
  }