/* Define tus estilos aquí */
.container {
  display: flex;
  flex-direction: column; /* Coloca los elementos en columna */
  align-items: center; /* Centra los elementos horizontalmente */
  justify-content: center; /* Centra los elementos verticalmente */
  height: 100vh; /* Establece la altura al 100% de la ventana */
}

.tittle {
   color: white;
   font-size: 60px;
}

.label,
.input,
.select {
  width: 550px;
  padding: 5px;
  margin-left: -180px;
  margin-bottom: 10px;
}

.labelContainer {
  display: flex;
  align-items:flex-end;
}

.label {
  color: white;
  font-weight: bold;

}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
