.Form{
    display: grid;
    flex-direction: column;
    min-width: 250px;
    max-width: 500px;
}
.RegisterWindow{
    display: grid;
    justify-content: center;
}
.ErrorPopUp{
    position: absolute;
    display: grid;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 1rem;
    border: 1px black solid;
}
