.showSussesMessage{
    color: greenyellow;
    text-align: center;
}
.hide{
    display: none;
}
.showErrorMessage{
    color: red;
    
    text-align: center;
}
.Form{
    display: grid;
    flex-direction: column;
    width: 300px;
    gap: 5px;
}
.RegisterWindow{
    color: white;
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
    grid-template-rows: 40% auto;
    background-color: transparent;
    overflow: hidden;
    overflow-x: hidden;
}
.ErrorPopUp{
    position: absolute;
    display: grid;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:   rgba( 0, 0, 0, 0.9);
    min-height: 300px;
    align-items: center;
    color: white;
    z-index: 9999;
    border-radius: 1rem;
    border: 1px black solid;
    padding: 20px;
}
.ErrorPopUp > button{
    color: white;
}
.RegisterInput{
    border-radius: 0.4rem;
    height: 20px;
    border: none;
    width: 250px;
    justify-self: center;
    border-bottom: 1px black solid;
    /* background-color: rgba( 0, 0, 0, 0.3); */
}
label{
    font-weight: bolder;
}
.RegisterButton{
    width: 150px;
    border-radius: 0.5rem;
    border: 1px solid black;
    background-color: black;
    color:white;
    height: 35px;
    justify-self: center;
    transition: background-color, color 0.3s;
    &:hover{
        background-color: white;
        color: black
    }
    &:focus{
        background-color: black;
        color: white;
    }
}
.Video{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    filter: blur(10px)
}
.Background{
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,0.6573004201680672) 0%, rgba(0,230,255,0.335171568627451) 100%);   width: 100vw;
    height: 100vh;
    padding-top: 10px;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-rows: 160px 580px 50px;
}
select {
    /* Reset Select */
    appearance: none;
    outline: 10px red;
    border: 0;
    box-shadow: none;
    /* Personalize */
    flex: 1;
    padding: 0 1em;
    color: #fff;
    background-color: #242424;
    background-image: none;
    cursor: pointer;
  }

  .select {
    position: relative;
    background-color: black;
    display: flex;
    width: 15em;
    justify-self: center;
    height: 3em;
    border-radius: .25em;
    overflow: hidden;
  }
  /* Arrow */
  .select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 1em;
    background-color: white;
    transition: .25s all ease;
    pointer-events: none;
  }
  /* Transition */
  .select:hover::after {
    color: #f39c12;
  }

.window{
    background: rgba(0, 0, 0, 0.4);
    padding: 10px;
    border: #242424 1px solid;
    border-radius: 1rem;
    margin: 10px;
}

h1{
    color: white;
    font-size: 100px;
    text-align: center;
}
.titleContainer > p{
    text-align: center;
}
label{
    color: white;
}
p{
    color: white;
}
body{
    overflow: hidden;
}