.containerP {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url("../../assets/login/login 1.png");
  background-size: cover;
}

.headerP {
  background-color: darkred;
  color: white;
  padding: 10px;
  font-size: 20px;
  text-align: right;
  width: 22%;
  top: 0;
  margin-left: 9%;
  position: relative;
  clip-path: polygon(40% 0, 100% 0, 100% 100%, 0% 100%);
}

.TextFormP {
  text-align: left;
  margin-bottom: 5px;
}

.formP {
  width: 400px;
  padding: 40px;
  background-color: #ffffff;
  border-radius: 8px;
}

.inputFormP {
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  font-size: 0.9em;
  padding: 0px 10px;
  font-family: sans-serif;
}

.loginButtonP {
  width: 100%;
  height: 40px;
  background-color: #2c3e50;
  color: white;
  border: none;
  border-radius: 4px;
  margin: 5px 0px;
  cursor: pointer;
}

.loginButtonP:hover {
  background-color: #2c3e50dc;
}

@media (max-width: 280px) {
  .containerP {
    background-size: cover;
  }

  .headerP {
    width: 60%;
    font-size: 10px;
    padding: 5px;
  }

  .formP {
    width: 200px;
    padding: 20px;
    height: 130px;
  }

  .inputFormP {
    height: 20px;
    margin-bottom: 10px;
  }

  .loginButtonP {
    height: 20px;
  }

  .TextFormP,
  .ContenedorP,
  .checkboxContainerP {
    font-size: 12px;
  }
}

@media (min-width: 281px) and (max-width: 780px) {
  .containerP {
    background-size: cover;
  }

  .headerP {
    width: 30%;
    font-size: 14px;
    padding: 7px;
  }

  .formP {
    width: 300px;
    padding: 30px;
    height: 200px;
  }

  .inputFormP {
    height: 30px;
    margin-bottom: 15px;
  }

  .loginButtonP {
    height: 30px;
  }

  .TextFormP,
  .ContenedorP,
  .checkboxContainerP {
    font-size: 14px;
  }
}

@media (min-width: 781px) and (max-width: 1199px) {
  .containerP {
    background-size: cover;
  }

  .headerP {
    width: 20%;
    font-size: 18px;
    padding: 8px;
  }

  .formP {
    width: 350px;
    padding: 35px;
    height: 200px;
  }

  .inputFormP {
    height: 35px;
    margin-bottom: 17px;
  }

  .loginButtonP {
    height: 35px;
  }

  .TextFormP,
  .ContenedorP,
  .checkboxContainerP {
    font-size: 16px;
  }
}

@media (min-width: 1200px) {
  .containerP {
    background-size: cover;
  }

  .headerP {
    width: 15%;
    font-size: 20px;
    padding: 10px;
  }

  .formP {
    width: 400px;
    padding: 40px;
    height: 230px;
  }

  .inputFormP {
    height: 40px;
    margin-bottom: 20px;
  }

  .loginButtonP {
    height: 40px;
  }

  .TextFormP,
  .ContenedorP,
  .checkboxContainerP {
    font-size: 18px;
  }
}

@media (min-width: 1400px) {
  .containerP {
    background-size: cover;
  }

  .headerP {
    width: 18%;
    font-size: 20px;
    padding: 10px;
  }

  .formP {
    width: 400px;
    padding: 40px;
    height: 234px;
  }

  .inputFormP {
    height: 40px;
    margin-bottom: 20px;
  }

  .loginButtonP {
    height: 40px;
  }

  .TextFormP,
  .ContenedorP,
  .checkboxContainerP {
    font-size: 18px;
  }
}